@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProLight.eot');
    src: url('../fonts/SofiaProLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProLight.woff2') format('woff2'),
        url('../fonts/SofiaProLight.woff') format('woff'),
        url('../fonts/SofiaProLight.ttf') format('truetype'),
        url('../fonts/SofiaProLight.svg#SofiaProLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

