.intro {

    $h: &;

    height: 100%;
    overflow: hidden;
    display: flex;
    
    &__brand-power,
    &__home-tester-club {
        width: 50%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:hover {
            #{$h}__background {
                filter: grayscale(0);

                img {
                    opacity: 1;
                    transform: translate3d(-50%, -50%, 0) scale3d(1.02, 1.02, 1.02);
                }
            }
        }
    }

    &__brand-power-logo {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;

        &__top,
        &__bottom {
            overflow: hidden;
            width: 100%;
            position: relative;
            padding-bottom: 21.5%;
            animation: brandPowerLogoContainer 1.5s 1s cubic-bezier(0.075, 0.82, 0.165, 1) 1 forwards;
            transform: translateY(30%);
            opacity: 0;
            
            svg {
                fill: $white;
                position: absolute;
                width: 100%; 
                height: 100%;
                top: 0;
                left: 0;
                animation: brandPowerLogoFadeIn 1.5s 1s cubic-bezier(0.075, 0.82, 0.165, 1) 1 forwards;
                transform: translateY(100%);
                opacity: 0;
            }
        }

        &__top {
            margin-bottom: 5px;
            width: 98%;
        }

        &__bottom {
            svg {
                animation-delay: 1.15s;
            }
        }
    }
    
    &__background {
        @include trans;

        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $black;

        filter: grayscale(50%);
        
        img {
            @include trans;
            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            opacity: .5;
        }

        &--brand-power {
            img {
                top: 47%;
                height: auto;
                width: 100%;
            }
        }

        &--home-tester-club {
            img {
                height: 100%;
                width: auto;
            }
        }
    }

    &__brand {
        z-index: 2;
        width: 40%;
        padding-top: 10%;
    }

    &__home-tester-club-logo {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;

        img {
            width: 100%;
            height: auto;
            animation: HTCLogoFadeIn 1.5s 1s cubic-bezier(0.075, 0.82, 0.165, 1) 1 forwards;
            transform: translateX(100%);
            opacity: 0;
        }
    }

    &__slogan {
        color: $white;
        text-align: center;
        font-size: rem(16px);
        margin: 0;
        animation: slogan 1.5s 1s cubic-bezier(0.075, 0.82, 0.165, 1) 1 forwards;
        transform: translateY(300%);
        opacity: 0;
    }
}

@keyframes brandPowerLogoFadeIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes HTCLogoFadeIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes brandPowerLogoContainer {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes slogan {
    0% {
        transform: translateY(300%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


