.brand-power-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    min-height: rem(80px);
    height: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    padding: rem(40px) rem(40px) 0;
    
    &__hamburguer {
        height: auto;
        width: 40px;
        margin-right: rem(40px);
    
        img {
            height: auto;
            width: 100%;
        }
    }
    
    &__logo {
        height: 100%;
        width: auto;
    
        img {
            height: 100%;
            width: auto;
        }
    }
}

.brand-power-intro {
    background: url('/images/locations/globe.svg') no-repeat center center / cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &__country-selector {
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        height: 40%;
    }

    &__control {
        position: absolute;
        left: rem(80px);
        cursor: pointer;
        background: none;
        border: none;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &--prev {
            top: -20%;
        }

        &--next {
            bottom: -25%;
        }

        &--right {
            left: auto;
            right: 0%;
            top: 50%;
            transform: translateY(-50%);
        }

        &.-disabled {
            opacity: .3;
            pointer-events: none;
        }
    }

    &__country-index-list {
        width: 40px;
        margin-right: 40px;
        text-align: center;
    }
    
    &__country-index {
        @include trans;

        text-transform: uppercase;
        color: $altGray;
        font-size: rem(16px);
        text-decoration: none;
        cursor: default;

        &:first-child {
            color: $red;
        }
        
        // &:hover {
        //     color: lighten($altGray, 20%);
        // }

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &.-active {
            color: $white;

            // &:hover {
            //     color: $white;
            // }
        }
    }

    &__country-list {
        width: rem(400px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__country {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        font-size: rem(16px);
        font-weight: 900;
        letter-spacing: -0.42px;
        color: $altGray;
        height: 15%;

        &--main {
            color: $red;
            font-size: rem(50px);
            font-weight: 900;
            height: 30%;
        }

        &--secondary {
            color: $white;
            font-size: rem(30px);
            font-weight: 900;
            letter-spacing: -0.7px;
            padding: 2% 0;
            height: 20%;
        }

        &:first-child,
        &:nth-child(2) {
            align-items: flex-start;
        }

        &:last-child,
        &:nth-child(4) {
            align-items: flex-end;
        }
    }
}