.brand-power-search {
    background: $black;
    width: 100%;
    position: relative;
    padding: rem(120px) rem(120px) 40px;
    height: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;

    &__header {
        $h: &;
    
        position: fixed;
        background: $black;
        width: 100%;
        top: 0;
        left: 0;
        min-height: rem(120px);
        height: rem(40px);
        z-index: 1000;
        padding: rem(40px);
    
        &__close-icon {
            display: block;
            height: 100%;
            width: 40px;
            margin-left: auto;
            position: relative;
            transform: translateY(-200%);
            cursor: pointer;
            outline: none;
            animation: searchButton .5s ease forwards;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                display: block;
                background: $red;
                border-radius: 3px;

                &.-horizontal {
                    height: 2px;
                    width: 40px;
                    transform: translate3d(-50%, -50%, 0) rotate(45deg);
                }

                &.-vertical {
                    height: 40px;
                    width: 2px;
                    transform: translate3d(-50%, -50%, 0) rotate(45deg);
                }
            }
        }
    }

    &__search-group {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        height: rem(83px);
        overflow: hidden;
    }
    
    &__input {
        height: 100%;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: $white;
        font-size: rem(54px);
        font-family: $mainFont; 
        font-weight: 900;
        caret-color: $red;
        border-bottom: 1px solid $red;
        animation: input 1.5s ease forwards;
        padding: 0 5px;
    }

    &__search-icon {
        width: 70px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 0;

        img {
            transform: translateY(-200%);
            animation: searchButton 1.5s ease forwards;
        }
    }
}

@keyframes input {
    0%{
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes searchButton {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0);
    }
}