.brand-power-principal {
    $bpp: &;

    background: $black;
    width: 100%;
    position: relative;
    padding: rem(120px) rem(120px) 0;
    min-height: 100%;
    
    &.-grid-view {
        @for $i from 1 through 99 {
            .brand-power-principal__col:nth-child(#{$i}) {
                .brand-power-product__image {
                    animation: gridView 1s ease forwards;
                    animation-delay: #{$i * 0.15}s;
                }
            }
        }

        .brand-power-product {
            &:after {
                display: none;
            }

            &__content {
                &:after {
                    display: block;
                    animation: borderAnimation 1s ease forwards;
                    animation-delay: 2s;

                    @include customMq(1600px) {
                        animation-delay: 3s;
                    }
                }
            }

            &__title,
            &__description {
                animation: gridTextAnimation 1s ease forwards;
                animation-delay: 2s;
    
                @include customMq(1600px) {
                    animation-delay: 3s;
                }
            }
        }       
    }

    &.-coverflow-view {
        height: 100%;
        min-height: auto;
        overflow: hidden;
        padding: rem(120px) 0 0;
        
        #{$bpp}__products-container {
            display: block;
            height: 100%;
            overflow: hidden;
            position: relative;
            
            &:after {
                display: none;
            }
        }

        #{$bpp}__controls {
            display: flex;
        }
        
        #{$bpp}__col {
            position: absolute;
            left: 100vw;
            margin: 0;
            top: 50%;
            width: 35%;
            perspective: 1000px;
            flex-shrink: 0;
            transform: rotateY(-75deg) translate3d(0, -50%, 0);
            opacity: 0;
            z-index: 8;

            .brand-power-product {
                position: absolute;
                top: 50%;
                transform: rotateY(-75deg) translateY(-50%);
            
                &__image {
                    transform: scale3d(1,1,1);
                }
    
                &__content {
                    visibility: hidden;
                }
    
                &__title,
                &__description {
                    transform: translateY(0);
                    text-align: center;
                    transform: translateY(-300px);
                }
            }
            
            &.js-tertiary-next {
                opacity: 1;
                
                @include customMq(1200px) {
                    left: 111.7%;
                    transform: translate3d(-100%, -50%, 0);
                }
                
                @include customMq(1400px) {
                    left: 111.5%;
                }
                
                @include customMq(1600px) {
                    left: 110.9%;
                }
            }
            
            &.js-secondary-next {
                width: 35%;
                opacity: 1;
                z-index: 9;
                
                @include customMq(1200px) {
                    left: 100%;
                    transform: translate3d(-100%, -50%, 0);
                }
                
                @include customMq(1400px) {
                    left: 99.5%;
                }

                @include customMq(1600px) {
                    left: 98%;
                }

                .brand-power-product {
                    position: absolute;
                    top: 50%;
                    transform: rotateY(-70deg) translateY(-50%);

                    &__content {
                        visibility: hidden;
                    }
                }
            }
            
            &.js-primary {
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                opacity: 1;
                z-index: 10;

                @include customMq(1200px) {
                    width: 53%;
                }

                @include customMq(1400px) {
                    width: 52%;
                }

                @include customMq(1600px) {
                    width: 50%;
                }

                .brand-power-product {
                    position: absolute;
                    top: 50%;
                    transform: rotateY(0) translateY(-50%);

                    &__content {
                        visibility: visible;
                    }

                    &__title,
                    &__description {
                        animation: coverflowTextAnimation 1s ease forwards;
                        animation-delay: .5s;
                    }
                }
            }

            &.js-secondary-prev {
                width: 35%;
                transform: translate3d(0, 0, 0);
                // top: 43%;
                opacity: 1;
                z-index: 9;

                @include customMq(1200px) {
                    left: 0;
                }

                @include customMq(1400px) {
                    left: .5%;
                }

                @include customMq(1600px) {
                    left: 2%;
                }
                
                .brand-power-product {
                    position: absolute;
                    top: 50%;
                    transform: rotateY(70deg) translateY(-50%);

                    &__content {
                        visibility: hidden;
                    }
                }

            }

            &.js-tertiary-prev {
                width: 35%;
                // top: 43%;
                opacity: 1;
                z-index: 8;

                @include customMq(1200px) {
                    left: -11.7%;
                }

                @include customMq(1400px) {
                    left: -11.5%;
                }

                @include customMq(1600px) {
                    left: -10.9%;
                }

                .brand-power-product {
                    position: absolute;
                    top: 50%;
                    transform: rotateY(75deg) translateY(-50%);

                    &__content {
                        visibility: hidden;
                    }
                }
            }

            &.js-prev {
                left: -100vw;
                opacity: 0;
            }
        }
    }

    &.-list-view {
        @for $i from 1 through 99 {
            .brand-power-principal__col:nth-child(#{$i}) {
                .brand-power-product__image {
                    animation: listlView 1s ease forwards;
                    animation-delay: #{$i * 0.10}s;
                }
            }
        }

        .brand-power-product {

            display: flex;
            padding-bottom: 20px;
            justify-content: space-between;

            &:after {
                display: block;
                animation: borderAnimation 1s ease forwards;
                animation-delay: 2s;
    
                @include customMq(1600px) {
                    animation-delay: 3s;
                }
            }

            &__image {
                width: 30%;
                padding-bottom: 20%;
            }
    
            &__content {
                border-bottom: none;
                width: 65%;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &:after {
                    display: none;
                }
            }

            &__title,
            &__description {
                animation: listTextAnimation 1s ease forwards;
                animation-delay: 2s;
    
                @include customMq(1600px) {
                    animation-delay: 3s;
                }
            }
        }
    }

    &__header {
        $h: &;

        position: fixed;
        background: $black;
        width: 100%;
        top: 0;
        left: 0;
        min-height: rem(120px);
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        padding: rem(40px);

        &__heading {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // flex-shrink: 0;
        }

        &__back-arrow {
            height: 100%;
            margin-right: 40px;
        }

        &__selected-country {
            font-size: rem(40px);
            font-weight: 900;
            line-height: 0.9;
            letter-spacing: -0.7px;
            color: $red;
            white-space: nowrap;
            
            @include customMq(1200px, 1600px) {
                font-size: 30px;
            }
        }

        &__controls {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
        }

        &__controls-group {
            height: 100%;
            width: rem(168px);
            margin-left: rem(20px);
            
            &--filter {
                width: rem(112px);
                text-decoration: none;
            }

            &--single-icon {
                width: auto;
                margin-left: 35px;
                height: 100%;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &__bp-sort-checkbox,
        &__medifact-sort-checkbox,
        &__other-sort-checkbox {
            position: absolute;
            left: -9999px;

            &:checked + label {
                background: $altGray;

                #{$h}__plus-icon {
                    display: none;
                }

                #{$h}__check-icon {
                    display: block;
                }
            }
        }

        &__bp-sort-label,
        &__medifact-sort-label,
        &__other-sort-label {
            display: block;
            background: $red;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: 0 rem(14px);
            text-transform: uppercase;
            color: $white;
            font-weight: 900;
            font-size: rem(14px);
            border-radius: 5px;
            position: relative;
            cursor: pointer;


            i {
                font-size: 18px;
                font-weight: 100;
            }

            img {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }

            #{$h}__plus-icon {
                display: block;
            }

            #{$h}__check-icon {
                display: none;
            }
        }
    }

    &__products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
        position: relative;

        &:after {
            content: '';
            width: calc(33.3% - 20px);

            @include customMq(1600px) {
                width: calc(25% - 20px);;
            }
    
        }
    }

    &__controls {
        position: absolute;
        bottom: 10%;
        display: none;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__arrow {
        position: relative;
        height: 40px;
        width: 40px;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 20px;
            height: 20px;
            border-bottom: 1px solid $white;
        }
        
        &--prev {
            &:after {
                content: '';
                transform: rotate(45deg) translate3d(-50%, -50%, 0);
                left: 50%;
                border-left: 1px solid $white;
            }
        }

        &--next {
            &:after {
                content: '';
                transform: rotate(-45deg) translate3d(-50%, -50%, 0);
                right: 50%;
                border-right: 1px solid $white;
            }
        }
    }

    &__col {
        @include trans;
        
        width: calc(33.3% - 20px);;
        margin-bottom: rem(40px);

        @include customMq(1600px) {
            width: calc(25% - 20px);;
        }
    }
}

@keyframes gridView {
    0% {transform: scale3d(0,0,0);}
    80% {transform: scale3d(1.05,1.05,1.05);}
    100% {transform: scale3d(1,1,1);}
}

@keyframes listlView {
    0% {transform: scale3d(0,0,0);}
    80% {transform: scale3d(1.05,1.05,1.05);}
    100% {transform: scale3d(1,1,1);}
}

@keyframes gridTextAnimation {
    0% {transform: translateY(-300%);}
    100% {transform: translateY(0);}    
}

@keyframes listTextAnimation {
    0% {transform: translateY(-300%);}
    100% {transform: translateY(0);}
}

@keyframes coverflowTextAnimation {
    0% {transform: translateY(-300%);}
    100% {transform: translateY(0);}
}

@keyframes borderAnimation {
    0% {width: 0;}
    100% {width: 100%;}
}

@keyframes secondaryPrevAnimation {
    0%{}
    100%{}
}

@keyframes secondaryNextAnimation {
    0%{}
    100%{width: 35%; 
    }
}