mixin product()
    .brand-power-product
        .brand-power-product__image
            img(src="/images/principal/logo.svg")
        .brand-power-product__content
            h2.brand-power-product__title Product Name / Company
            p.brand-power-product__description Sell new benefit (existing product)