extends _layouts/base

block content
    main.intro
        section.intro__brand-power
            .intro__background.intro__background--brand-power
                img(src="/images/home/girl.jpg")
            .intro__brand
                .intro__logo
                    img(src="/images/home/logo.png")
                p.intro__slogan The power of third-party advertising.
        section.intro__home-tester-club
            .intro__background.intro__background--home-tester-club
                img(src="/images/home/carts.jpg")
            .intro__brand
                .intro__logo
                    img(src="/images/home/logo.png")
                p.intro__slogan The power of authentic p2p content.

